<div class="container signup">
  <div class="row justify-content-center">
    <div class="card col-md-6 m-1" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">sign-up</h5>
        <form id="newUser">
          <div class="form-group">
            <label for="inputEmail1">email</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="inputPassword1">password</label>
            <input type="password" class="form-control" id="inputPassword1">
          </div>
          <div class="form-group">
            <label for="inputDisplayName1">display name</label>
            <input type="text" class="form-control" id="inputDisplayName1">
          </div>
          <div class="form-group">
            <label for="inputTitle1">title</label>
            <input type="text" placeholder="ex. student, tutor, instructor, etc." class="form-control" id="inputTitle1">
          </div>
          <div class="form-group">
            <label for="inputCity">city</label>
            <input type="text" placeholder="ex. Paris" class="form-control" id="inputCity">
          </div>
          <div class="form-group">
            <label for="inputState">state</label>
            <input type="text" placeholder="ex. TX" class="form-control" id="inputState">
          </div>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputProfilePicture" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputProfilePicture">add a profile photo</label>
            </div>           
          </div>
          <br>

          <button class="btn btn-dark" id="newUser">Submit</button>
          <br><br><a class="text-right" href="#">I have an account</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="./js/signup.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


